Homestead.yaml
Homestead.json
.env
.idea
.vscode
/resources/assets/_gulp-builder/node_modules
/resources/assets/_gulp-builder/bower_components
/packages
/resources/assets/_gulp-builder/.sass-cache
/storage/debugbar
/vendor/