/* HEADER */
@import "header";
/* END HEADER */

/* CONTENT FROM ADMIN */
@import "defaultCnt";
/* END CONTENT FROM ADMIN */

/* FOOTER */
@import "footer";
/* END FOOTER */

/* BREADCRUMBS */
@import "breadcrumbs";
/* END BREADCRUMBS */

/* PRODUCT-CARD */
@import "product-card";
/* END PRODUCT-CARD */

/* PAGINATION */
@import "pagination";
/* END PAGINATION */

/* BASKET */
@import "basket";
/* END BASKET */