.breadcrumbs{
	padding-bottom: 20px;
	position: relative;
	text-align: center;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 32px;
		height: 1px;
		background-color: grey;
		z-index: -1;
	}
	&-lst{
		display: inline-block;
		background-color: #fff;
	}
	&-i{
		display: inline-block;
		position: relative;
		padding: 0 7px;
		font-size: 13px;
		text-transform: uppercase;
		color: grey;
		&:after{
			content: '/';
			display: block;
			position: absolute;
			right: -5px;
			top: 0;
		}
		&:last-child:after{
			content: '';
		}
	}
	&-lnk{
		&:hover{
			color: black;
		}
	}
	&-current{
		color: black;
	}
}