.product-card{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	&-t{
		padding-bottom: 20px;
		position: relative;
		&-ic{
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			cursor: pointer;
			border: 1px solid grey;
			border-radius: 50px;
			padding: 7px 5px 5px 5px;
			color: red;
			background-color: rgba(0,0,0, .1);
			&:hover{
				background-color: rgba(0,0,0, .5);
			}
		}
	}
	&-b{
		&-txt{
			font-size: 14px;
			padding-bottom: 5px;
		}
	}
}