// Bootstrap grid
$enable-flex:               true;
$enable-grid-classes:       false;
$grid-gutter-width: 10px;

//Base container
$padding-container: 40px;
$width-container:	1100px;


// Base color 

$c-main: #000000;
$c-inverse: #fff;