.product{
	padding: 25px 0;
	&-container{
		@extend .container;
	}
	&-row{
		@include make-row();
		margin: 0;
	}
	&-img{
		@include make-col-ready($grid-columns);
		@include make-col(6);
		padding: 0;
		padding-right: 20px;
		.owl-dots {
			display: flex;
			padding-top: 25px;
			.owl-dot{
				border: 2px solid grey;
				width: 100px;
				height: 100px;
				margin-right: 10px;
				img{
					max-height: 100%;
					margin: auto;
				}
			}
		}
	}
	&-slider{
		&-i{
			display: block;
		}

	}

	&-info{
		@include make-col-ready($grid-columns);
		@include make-col(6);
		padding: 0;
		padding-left: 20px;
	}
	&-ttl{
		@extend .ttl;
	}
	&-txt{
		font-size: 16px;
		line-height: 25px;
		padding-bottom: 10px;
	}
	&-name{
		@extend .product-txt;
		font-size: 20px;
	}
	&-price{
		@extend .product-txt;
		font-size: 24px;
		font-weight: bold;
	}
	&-article{
		@extend .product-txt;
		font-weight: bold;
	}
	&-c{
		@extend .product-txt;
		&-inp{
			@extend .inp-c;
			&:checked+&-lbl {
			    box-shadow: 0 0 0 1px #fff, 0 0 0 2px black;  
			}
			&-lbl{
				@extend .inp-c-lbl;
			}
		}
		&-wrap{
			@extend .inp-c-wrap;
		}
	}
	&-s{
		@extend .product-txt;
		&-inp{
			@extend .inp-c;
			&:checked+&-lbl {
			    box-shadow: 0 0 0 1px #fff, 0 0 0 2px black;  
			}
			&:disabled+&-lbl {
			    background-color: grey;
			}
			&-lbl{
				@extend .inp-c-lbl;
				width: auto;
				height: auto;
			    text-align: center;
			    padding: 0 7px;
			}
		}
		&-wrap{
			@extend .inp-c-wrap;
		}  
		&-lnk{
			display: block;
			text-decoration: underline;
			padding: 10px 0;
			font-size: 12px;
			color: grey;
			&:hover{
				text-decoration: none;
			}
		}
	}
	&-btn{
		@extend .btn;
		border: 1px solid black;
		position: relative;
		&:before{
			font-family: FontAwesome;
		    content: "\f005";
		    display: block;
		    position: absolute;
		    left: 15px; 
		}
		&-wrap{
			max-width: 260px;
			padding: 5px 0;
		}
		&-inverse{
			@extend .btn-inverse;
			position: relative;
			&:before{
				font-family: FontAwesome;
			    content: "\f291";
			    display: block;
			    position: absolute;
			    left: 15px; 
			}
		}
	}
	&-description{
		border: 1px solid grey;
		margin-top: 10px;
		&-t{
			display: flex;
			align-items: center;
			border-bottom: 1px solid grey;
		}
		&-b{
			padding: 10px;
			display: none;
			&.__show-cnt{
				display: block;
			}
		}
		&-lnk{
			line-height: 40px;
		    font-weight: 700;
		    font-size: 11px;
		    text-transform: uppercase;
		    color: grey;
		    padding: 0 10px;
		    &:hover{
		    	color: black;
		    }
		    &.__active{
		    	color: black;
		    }
		}
	}
	&-advantages{
		border: 1px solid grey;
		display: flex;
		align-items: center;
		margin-top: 25px;
		padding: 10px;
		&-row{
			@include make-row();
			margin: 0;
		}
		&-col{
			@include make-col-ready($grid-columns);
			@include make-col(3);
			padding: 0;
			border-right: 1px solid grey;
			text-align: center;
			&:last-child{
				border-right: none;
			}
		}
		&-txt{
			font-size: 13px;
			line-height: 1.3;
			padding-top: 10px;
		}
	}
}