.subcategory{
	padding-bottom: 25px;
	&-container{
		@extend .container-category;
		&-main{
			@extend .container;
		}
	}
	&-sidebar{
		@extend .page-sidebar;
		&-txt{
			@extend .product-txt;
		}
	}
	&-cnt{
		@extend .page-cnt;
		&-filter{
			display: flex;
			align-items: center;
			padding-bottom: 10px;
			&-txt{
				@extend .product-txt;
				padding-bottom: 0;
				margin-right: 20px;
			}
			&-lnk{
				font-size: 14px;
				margin-right: 15px;
				color: grey;
				border-bottom: 1px dotted transparent;;
				&:hover{
					border-bottom: 1px dotted grey;
				}
				&.__active{
					color: black;
					border-bottom: 1px dotted black;
				}
			}
		}
	}
	&-row{
		@include make-row();
	}
	&-col{
		@include make-col-ready($grid-columns);
		@include make-col(3);
		
	}
	&-ttl{
		@extend .ttl;
		&-L{
			@extend .ttl-L;
		}
	}
	&-btn{
		&-show{
			@extend .btn-show;
			padding-bottom: 0;
			&-wrap{
				text-align: center;
			}
		}
	}
}